
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

DirectoryIndex index.html index.php login.php this.php

ErrorDocument 400 /./error/400.php
ErrorDocument 401 /./error/401.php
ErrorDocument 403 /./error/403.php
ErrorDocument 404 /./error/404.php
ErrorDocument 500 /./error/500.php

Options -Indexes
